.newTask {
    display: flex;
    flex-direction: column;
    grid-area: newTask;
    background-color: #00B4D8 ;
    padding: 10px;
    flex-direction: flex;
    flex-wrap: wrap;
    margin-top: .7em;

  
    .inputContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 16px;
  
      label {
        margin-bottom: 8px;
        font-size: 1.25rem;
      }
  
      input {
        width: 100%;
        padding: 8px 12px 4px;
        box-sizing: border-box;
        border: unset; 
        background-color: #0096C7 ;
        box-shadow: 1px #2D2B2B9F inset;
        
        &::placeholder {
          color: white;
        }
      }
    }
  
    @media screen and (min-width: 1280px) {
      flex-direction: flex;
      flex-wrap: wrap;
      font-size: 2.25rem;
      padding: 24px;
      box-sizing: border-box;

  
      .inputContainer {
        width: 100%;
  
        &:last-of-type {
          width: 100%;
        }
  
        label {
          font-size: 2rem;
        }
  
        input {
          font-size: 1.75rem;
        }
      }
    }
  }