.clock{
  display: flex;
}

.clockNumber{
    background-color: #0096C7;
    box-shadow: 1px 1px 1px #2B2B2B inset;
    height: 3.6rem;
    width: 3rem;
    padding: 8px 4px;
    margin: 3px;

    @media screen and (min-width:1280px) {
      font-size: 7.5em;
      height: 10.8rem;
      width: 9rem;
    }
  }
  
  .clockDivision {
    height: 4.2rem;
  
    @media screen and (min-width:1280px) {
      height: 12.6rem;
      font-size: 7.5em;
    }
  }
  .clockDivisionNone{
    visibility: hidden;
  }