.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: timer;
    flex-direction: flex;
    flex-wrap: wrap;
  
  
    .clockWrapper {
      align-items: center;
      background-color: #00B4D8;
      box-sizing: border-box;
      display: flex;
      font-size: 5rem;
      justify-content: center;
      margin-bottom: 24px;
      padding: 16px 12px;
      width: 100%;
      flex-direction: flex;
      flex-wrap: wrap;
    
    }
  
    .title {
      font-size: 2rem;
    }

    .buttons{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    }
    
    @media screen and (min-width:1280px) {
      
      .clockWrapper{
        font-size: 15rem;
      }
  
      p {
        font-size: 2rem;
      }

    }
  }